.Characters{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Characters input{
    outline: none;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.Characters input:focus{
    box-shadow: 0 0 8px 0 rgb(70, 216, 34);
}
.Characters__list{
    margin-top: 10px;
}

.personName{
    margin-top: 3px;
}